@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html{background-color: rgb(0, 0, 0)}   

#caixa{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);display:flex ;flex-wrap: wrap; flex-direction:row; width: 80%; height: 500px; margin: auto auto; justify-content: space-around; align-items: center; background-color: yellow; z-index: -10;}
.iconesMenu{display:flex; border-radius: 100%; width: 180px; height: 180px; justify-content: center; margin: 25px;}

#circle{width: 100vw; height: 100vw; position: fixed; z-index: -10; top: 50%; transform: translate(0, -50%) scale(0); border-radius: 100%; z-index: 4; min-height: 100%}
#imgcircle{opacity: 0; transition: all 3s}


    #divCalculadora{position:absolute; width: 480px; margin:60px; transform: scale(0.00);margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: 5;}
    #Calculadora{width: 100%;}
    #displayBox{position:absolute;width: 240px; height: 75px; margin-left: auto; margin-right: auto;left: 0;right: 0; top: 52px; overflow: auto;}
    #display{margin: 0; position: absolute; top: 50%; right:1px ;transform: translate(0, -50%); font-size: 50px; font-family: 'Roboto', sans-serif; text-align-last: right; color:white}

.botoes{background: transparent;  z-index: 6; position: absolute; top: 40%; left: 50%;}
.botoes:hover{filter: brightness(90%);}
.botoes:active{filter: brightness(50%);}
#textoBot{position: absolute;top: 49%; left: 50%; transform: translate(-50%, -50%); font-family: 'Roboto', sans-serif; font-size:xx-large ; color: white;}

    #num1{transform: translate(-205%, -29%); border:none}
    #num2{transform: translate(-103%, -29%); border:none}
    #num3{transform: translate(3%, -29%); border:none}
    #num4{transform: translate(108%, -29%); border:none}

    #num5{transform: translate(-205%, 90%); border:none}
    #num6{transform: translate(-103%, 90%); border:none}
    #num7{transform: translate(3%, 90%); border:none}
    #num8{transform: translate(108%, 90%); border:none}

    #num9{transform: translate(-205%, 209%); border:none}
    #num10{transform: translate(-103%, 209%); border:none}
    #num11{transform: translate(3%, 209%); border:none}
    #num12{transform: translate(108%, 209%); border:none}

    #num13{transform: translate(-205%, 325%); border:none}
    #num14{transform: translate(-103%, 325%); border:none}
    #num15{transform: translate(3%, 325%); border:none}
    #num16{transform: translate(108%, 325%); border:none}

#divDecoder{background-color: rgba(0, 0, 0, 0.2); border-radius: 40px; position:absolute; width: 900px; height: 490px; margin:40px auto;margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: 5; transform: scale(0.00); box-shadow:  0 0 3em black}
#decoderBox{width: 850px; height: 450px; margin: 25px}

.divBox{width:387px; height: 400px; background-color:rgba(0, 0, 0, 0.2); padding: 5px; border-radius: 30px}
#divEsquerda{float:left ; margin: 15px 15px 0px 15px;}
#divDireita{float: right; margin: 15px 15px 15px 0;}
    .tipo{width:357px; padding: 8px; margin: 15px 15px 15px 15px; border-radius: 5px; font: 14px Roboto, sans-serif; background-color: rgba(0, 0, 0, 0.2); border: none; color: white;}
        option{background-color: #2d4d91;}
            
    .inputBox{width: 357px; height:265px ;margin: 0 15px 15px 15px; resize: none; box-sizing: border-box; border-radius: 5px; background-color: rgba(0, 0, 0, 0.2); border: none; color: white; padding: 10px; font-size: 15px; }
    .decBotoes{width: 357px; padding: 8px; margin: 0 15px 15px 15px; border-radius: 10px; font: 14px Roboto, sans-serif; border: none; cursor: pointer;} 
    .sinal{margin: 0 15px 15px 15px; padding: 8px; width: 36px; float: left; border-radius: 10px; cursor: pointer; border: none; background-color: rgba(0, 0, 0, 0.2); color: white;}
    .numBox{margin: 0 15px 15px 0; padding: 8px; display: inline-block; border-radius: 5px; border: none; width: 38px; background-color:rgba(0, 0, 0, 0.2); color: white; }

        @media (max-width: 900px){
            #decoderBox{width: 50px}
            #divDecoder{height: 910px; width: 450px;}
            #divEsquerda{float:none ;margin: 15px 15px 0px 0px;}
            #divDireita{float:none ;margin: 35px 15px 0px 0px;}

        }

    @media (max-width: 600px){
        #decoderBox{width: 50px}
        #divDecoder{height: 910px; width: 450px; zoom: 75%;}
        #divEsquerda{float:none ;margin: 15px 15px 0px 0px;}
        #divDireita{float:none ;margin: 35px 15px 0px 0px;}

        #divCalculadora{zoom:80%}
    }
@media (max-width: 400px){
    #decoderBox{width: 50px}
    #divDecoder{height: 910px; width: 450px; zoom: 50%;}
    #divEsquerda{float:none ;margin: 15px 15px 0px 0px;}
    #divDireita{float:none ;margin: 35px 15px 0px 0px;}

    #divCalculadora{zoom:60%}
}