@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html{background-color: rgb(255, 255, 255)}   

#caixa{ position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);display:flex ;flex-wrap: wrap; flex-direction:row; width: 100%; height: 500px; margin: auto auto; justify-content: space-around; align-items: center;}
.iconesMenu{display:flex; border-radius: 100%; background-color: rgb(189, 189, 189); width: 180px; height: 180px; justify-content: center; margin: 25px;}

#circle{width: 100vw; height: 100vw; position: fixed; background-color: rgb(189, 189, 189); z-index: -10; top: 50%; transform: translate(0, -50%) scale(0); border-radius: 100%;}

#divCalculadora{position:absolute; width: 480px; margin:40px auto;transform: scale(0.00);margin-left: auto; margin-right: auto; left: 0; right: 0;}
#Calculadora{width: 100%;}
#displayBox{position:absolute;width: 240px; height: 75px; margin-left: auto; margin-right: auto;left: 0;right: 0; top: 52px; overflow: auto;}
#display{margin: 0; position: absolute; top: 50%; right:1px ;transform: translate(0, -50%); font-size: 50px; font-family: 'Roboto', sans-serif; text-align-last: right; color:white}

.botoes{background: transparent;  z-index: 5; position: absolute; top: 40%; left: 50%;}
.botoes:hover{filter: brightness(90%);}
.botoes:active{filter: brightness(50%);}
#textoBot{position: absolute;top: 49%; left: 50%; transform: translate(-50%, -50%); font-family: 'Roboto', sans-serif; font-size:xx-large ; color: white;}

    #num1{transform: translate(-205%, -29%); border:none}
    #num2{transform: translate(-103%, -29%); border:none}
    #num3{transform: translate(3%, -29%); border:none}
    #num4{transform: translate(108%, -29%); border:none}

    #num5{transform: translate(-205%, 90%); border:none}
    #num6{transform: translate(-103%, 90%); border:none}
    #num7{transform: translate(3%, 90%); border:none}
    #num8{transform: translate(108%, 90%); border:none}

    #num9{transform: translate(-205%, 209%); border:none}
    #num10{transform: translate(-103%, 209%); border:none}
    #num11{transform: translate(3%, 209%); border:none}
    #num12{transform: translate(108%, 209%); border:none}

    #num13{transform: translate(-205%, 325%); border:none}
    #num14{transform: translate(-103%, 325%); border:none}
    #num15{transform: translate(3%, 325%); border:none}
    #num16{transform: translate(108%, 325%); border:none}